@model List<StudentWebApp.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Students</h2>
    <ul>
        @foreach (var student in Model)
        {
            <li>@student.Name, @student.Age years old, studying @student.Major</li>
        }
    </ul>
</div>
